<form id="new-list-card">
  <input type="hidden" name="card[list_id]" value="<%= list_id %>">
  <input type="text" name="card[title]" placeholder="Title">
  <input type="submit" value="+ Card" class="btn btn-info btn-sm">
</form>