<form id="new-list-card">
  <input type="hidden" name="card[list_id]" value="<%= list_id %>">
  <label>Title
    <input type="text" name="card[title]">
  </label>

  <label>Rank
    <input type="text" name="card[rank]">
  </label>

  <label>Description
    <textarea></textarea>
  </label>
  <input type="submit" value="Add Card" class="btn btn-primary">
</form>