<form id="new-card">
  <label>Title
    <input type="text" name="card[title]">
  </label>

  <label>Rank
    <input type="text" name="card[rank]">
  </label>

  <label>Description
    <textarea></textarea>
  </label
  <input type="submit" value="Add Card" class="btn">
</form>