<div class="row">
  <% boards.each(function(board) { %>
    <div class="col-xs-2">
      <a class="btn btn-primary board" href="#/boards/<%= board.escape('id') %>">
        <%= board.escape('title')%>
      </a>
    </div>
  <% }) %>
</div>