<div class="row">
  <div class="col-x-2">
    <button
      class="btn board new-form"
      id="new-board">
    + New Board
    </button>
  </div>

  <div id="boards">
    <% boards.each(function(board) { %>
      <a class="btn board" href="#/boards/<%= board.escape('id') %>">
          <%= board.escape('title')%>
      </a>
    <% }) %>
  </div>
</div>
