<div class="row">
  <a class="btn btn-primary" id="new-board">+ New Board</a>
</div>

  <br>

<div class="row" id="boards">
  <div class="col-xs-12">
  <% boards.each(function(board) { %>
    <div class="well board">
      <a href="#/boards/<%= board.escape('id') %>">
        <%= board.escape('title')%>
      </a>
    </div>
  <% }) %>
  <div id="new-board-form"></div>
</div>

