<div class="well board">
  <form id="new-board">

      <div class="form-group">
        <label>Title
        <input type="text" name="board[title]" class="form-control">
        </label>
      </div>

    <input type="submit" value="Create Board" class="btn btn-success">
  </form>
</div>
