<div class="board well">
  <h1><%= board.escape('title') %></h1>

  <div id="members" class="container">
    <h2>Board Members</h2>
    <div id="board-members" ></div>
    <div id="new-board-member" class="row"></div>
  </div>

  <br>

  <div id="lists" class="container">
    <div id="board-lists" class="row"></div>
    <div id="new-board-list"></div>
  </div>
</div>
