<div class="board well">
  <h1><%= board.escape('title') %></h1>

  <div id="members" class="container">
    <h2>Board Members</h2>
    <div id="board-members" ></div>

    <button class="btn new-form" id="show-new-member-form">+ New Member</button>
    <div id="new-board-member" class="row"></div>
  </div>

  <br>

  <div id="lists" class="container">
    <div id="board-lists" ></div>

    <button class="btn new-form" id="show-new-list-form">+ New List</button>
    <div id="new-board-list"></div>
  </div>
</div>
