<div class="well">
  <h1><%= board.escape('title') %></h1>

  <div class="row">
  <div id="board-members"></div>

  <div id="lists">
    <a class="btn btn-primary" id="show-new-list-form">+ New List</a>
    <div id="board-lists" ></div>
    <div id="new-board-list"></div>
  </div>
</div>
