.board {
  background-color: #3C7575;
  border: solid #246E6E 2px;
  padding: 10px;
  margin: 20px;
  min-height: 50px;
  min-width: 100px;
  float: left;
  color: white;
}

#lists {
  .list-item {
    background-color: #637AB0;
    border: solid #2E457B 1px;
    margin-bottom: 5px;
  }
  .btn {
    background-color: #2E457B;
  }
}

#members {
  .member {
    background-color: #65C665;
    border: solid #319331 1px;
    margin: 5px;
  }
  .btn {
    background-color: #319331;
  }
}
