.well.board {
  width: 200px;
  min-height: 100px;
  float: left;
  margin: 20px;
}

.board-member {
  background-color: #7a8288;
  color: white;
  padding: 3px 5px;
  margin: 5px;
  border-radius: 2px;
}