<form id="new-board-list">
  <input type="hidden" name="list[board_id]" value="<%= board_id %>">
  <label>Title
    <input type="text" name="list[title]">
  </label>

  <label>Rank
    <input type="text" name="list[rank]">
  </label>
  <input type="submit" value="Make New List" class="btn">
</form>